{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table">
      <th scope="col">Course</th>
      <th scope="col">Record Time</th>
      <th scope="col">Player</th>
      {%for course_record in course_records%}
      <tr>
        <th scope="row">
          <a
            href="{{url_for('course_leaderboard', course_id=course_record.course_id)}}"
          >
            {{course_record.race_name}}
          </a>
          - {{course_record.course_type}}
        </th>
        <td>{{course_record.time_disp}}</td>
        <td>{{course_record.user_id}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>
{% endblock %}
