<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <title>Skyriding Race Leaderboards</title>
    {% endblock %}
  </head>
  <body>
    {%block navigation %}
    <a href="{{url_for('index')}}"> Home </a>
    {% endblock %} {% block content %}{% endblock %} {% block scripts %} {{
    bootstrap.load_js() }} {% endblock %}
  </body>
</html>
