{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-auto">
    <h1>{{course_info.race_name}} - {{course_info.course_type}}</h1>
    <p>
      <a href="https://www.wowhead.com/quest={{course_info.quest_id}}">
        Wowhead
      </a>
    </p>
    <table class="table">
      <th scope="col">#</th>
      <th scope="col">Player</th>
      <th scope="col">Time</th>
      {%for course_time in course_times%}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{course_time.user_id}}</td>
        <td>{{course_time.time_disp}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>
{% endblock %}
